@import "tailwindcss";

@theme {
  --font-sans:
    "Roboto", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-primary-600: #6d28d9;
  --color-primary-500: #9013fe;
  --color-primary-300: #a78bfa;
  --color-primary-200: #ede9fe;

  /* Dark shades */
  --color-dark-700: #111827;
  --color-dark-300: #6b7280;

  /* Light shades */
  --color-white: #ffffff;
  --color-light-200: #ede9fe;
}

body {
  color: #000000;
  background: #ffffff;
  font-family: var(--font-jost), sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .flex-row-center {
    @apply flex items-center justify-center gap-4;
  }

  .flex-col-center {
    @apply flex items-center flex-col gap-4;
  }

  .input-container {
    @apply w-full px-3.5 py-2.5 rounded-md border border-primary-200;
  }
}
